@import url(./base.css);
@import url(./navigation.css);
@import url(./footer.css);

.pdp {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
.shipping-message__text,
.nav__hamburger,
.nav__item a,
.nav__cart-mobile {
  color: #222222;
}
.nav__cart-mobile a {
  color: #222222;
}
.navbar {
  position: relative;
}
.horyzontal-line__white {
  border-top: 1px solid #222222;
}
.breadcrumb {
  margin: 30px 4% 40px 4%;
  display: flex;
  align-items: center;
}
.breadcrumb__link--light {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #555555;
  opacity: 0.5;
  text-decoration: none;
}
.breadcrumb__link--dark {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}
.slash-light {
  color: #afacac;
  margin: 0 8px;
  font-size: 18px;
}
.slash-dark {
  color: #222222;
  margin: 0 8px;
  font-size: 18px;
  display: none;
}

/* slycing carousel */
.d__product__container__row {
  display: flex;
  flex-direction: row;
  padding: 0 4%;
}
.d__product__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  box-sizing: border-box;
}
.d__product__column__list {
  width: 6vw !important;
  height: 69rem;
  overflow: hidden;
}
.slick-list.draggable {
  padding: 0px !important;
  height: 100% !important;
}
.d__product__column__list .slick-track {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  transform: unset !important;
}
.d__product__item {
  width: 100% !important;
  height: 11.3rem !important;
  margin-bottom: 0.8rem;
  cursor: pointer;
}
.d__product__item .d__product__item--img {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  background-color: #7373d7;
}
.d__product__selected__container {
  width: 37vw !important;
  height: 69rem;
}
.d__product__selected img {
  width: 100% !important;
  height: 69rem;
  object-fit: cover !important;
  background-color: #7373d7;
}
.d__product__details__container {
  width: 35%;
  margin-left: 5%;
}
.d__product__name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 8px;
}
.d__product__price {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #222222;
}
.d__product__description {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: #222222;
  margin: 24px 0;
}
.d__product__sizes {
  display: flex;
  margin: 16px 0 24px 0;
}
.d__product__size {
  border: 1px solid #b7b7b7;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #222222;
  opacity: 0.5;
  padding: 15px;
  cursor: pointer;
  margin-right: 10px;
}
.d__product__size:hover {
  border: 1px solid #7373d7;
  color: #222222;
  opacity: 2;
}
.d__subscription-price {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: #222222;
}
.d__subscription-price a {
  color: #222222;
}
.d__product__checked {
  position: relative;
  margin: 10px 0 0;
}
.d__product__checked input[type="radio"] {
  display: none;
}
.d__product__checked .d__subscription-price::before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 1px solid #7373d7;
  background-color: transparent;
  cursor: pointer;
}
.d__product__checked
  input[type="radio"]:checked
  + .d__subscription-price::after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 4px;
  content: " ";
  display: block;
  background-color: #7373d7;
}
.d__product__number {
  display: flex;
  width: 100%;
  height: 5.5rem;
  margin: 25px 0 14px 0;
}
.d__product__incrementor {
  user-select: none;
  width: 30%;
  border: 1px solid #b7b7b7;
  border-right: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  font-family: "Rubik";
  font-weight: 500;
}
.d__product__incrementor #d__minus,
.d__product__incrementor #d__plus {
  font-weight: 400;
  font-size: 25px;
  cursor: pointer;
}
.d__product__incrementor #d__minus:hover,
.d__product__incrementor #d__plus:hover {
  color: #7373d7;
}
.d__product__btn {
  width: 70%;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 160%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7373d7;
  cursor: pointer;
}
.d__product__btn--link {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.d__product__sponsor {
  display: flex;
  align-items: center;
}
.d__product__sponsor p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: #222222;
}
.d__product__sponsor a {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  text-decoration-line: underline;
  color: #7373d7;
  margin-left: 8px;
}
.accordion__container {
  margin: 28px 0 49px 0;
}
.accordion {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #222222;
  cursor: pointer;
  background-color: transparent;
  padding: 16px 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.accordion__item {
  border-bottom: 1px solid #b7b7b7;
}
.accordion__item:first-child {
  border-top: 1px solid #b7b7b7;
}
.active,
.accordion:hover {
  background-color: #7373d7;
  color: white;
}
.active,
.accordion:focus {
  background-color: #7373d7;
  color: white;
}
.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: #222222;
}
.accordion::after {
  content: "\2b";
  font-size: 18px;
  color: #7373d7;
  float: right;
  margin-left: 5px;
}
.accordion:hover::after {
  color: white;
}
.active::after {
  content: "\f068";
  font-size: 13px;
  color: #7373d7;
  float: right;
  margin-left: 5px;
}

/* Ingredients */
.ingredients {
  border-top: 1px solid #7373d7;
  border-bottom: 1px solid #7373d7;
}
.ingredients__details {
  display: flex;
  width: 100%;
  margin-left: 4%;
}
.ingredients__description__container {
  width: 50.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ingredients__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 2.4rem;
  padding-top: 30px;
}
.ingredients__paragraph {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  color: #222222;
  width: 65%;
  margin-bottom: 6.2rem;
}
.ingredients__icon__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.ingrediants__accordion {
  background-color: #e9e9ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  padding: 20px;
  margin: 12px;
}
.ingredients__name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}
.ingredients__img__container {
  width: 45.5%;
}
.ingredients__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ingredients__link__container {
  margin-top: 4rem;
}
.ingredients__link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  color: #222222;
  border-bottom: 2px solid #7373d7;
  text-decoration: none;
}
.accordion__arrow__down {
  display: none;
}

/* Results from customers */
.results {
  background: #9292ff;
}
.results__row {
  display: flex;
  row-gap: 100%;
  padding: 4%;
}
.results__text {
  width: 25%;
}
.results__img__container {
  width: 75%;
}
.results__text h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 8px;
}
.results__text h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 16px;
}
.prev__slide,
.next__slide {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #c9c9ff;
  color: white;
  border: none;
  cursor: pointer;
}
.prev__slide:hover,
.next__slide:hover {
  background-color: #ffffff;
}
.prev__slide:hover img,
.next__slide:hover img {
  filter: invert(61%) sepia(64%) saturate(4613%) hue-rotate(214deg)
    brightness(91%) contrast(85%);
}
.results__img__container {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}
.results__img__parent {
  margin: 0 12px;
}

/* Carousel */
.slick-track {
  display: flex;
}
.slick-arrow {
  display: none;
}
.next__card,
.prev__card {
  width: 100px;
  height: 20px;
}
.products__title {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
.products__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4% 0 4%;
  margin: 10rem 4% 3rem 4%;
}
.products__arrow {
  display: flex;
  align-items: center;
}
.go_to_product {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid #7373d7;
  margin-right: 2.6rem;
}
.next__card,
.prev__card {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #9b9b9b;
  color: white;
  border: none;
  cursor: pointer;
}
.next__card:hover,
.prev__card:hover {
  background-color: #7373d7;
}
.products__info {
  margin-left: 4%;
  height: auto;
  overflow-x: hidden;
}
.product {
  width: 28vw;
  background-color: #7373d7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__container:not(:first-child) {
  margin-left: 2.4rem;
}
.product__img--sale,
.product__img--new {
  position: absolute;
  top: 5%;
  object-fit: cover;
  right: 5%;
}
.product__img {
  height: 100%;
  object-fit: cover;
}
.horyzontal-line__product {
  border-top: 1px solid #ffffff;
  position: absolute;
  top: 49rem;
  width: 27vw;
}
.product__link--add-to-cart {
  position: absolute;
  top: 50rem;
}
.product__link--add-to-cart a {
  font-family: "Rubik";
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
.product__text,
.product__price {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 16px;
  color: #222222;
  margin: 8px 0;
}
.product__price del {
  color: #7a7979;
  margin-left: 8px;
}

@media (max-width: 1200px) {
  .ingredients__icon__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .ingredients__link__container {
    margin-top: 3rem;
    padding-bottom: 30px;
  }
  .ingredients__paragraph {
    margin-bottom: 3rem;
  }
  .results__text {
    width: 30%;
  }
  .results__img__container {
    width: 70%;
  }
  .product {
    width: 40vw;
  }
}

@media (max-width: 992px) {
  .d__product__container__row {
    display: flex;
    flex-direction: column !important;
    width: 100% !important;
  }
  .d__product__selected__container {
    width: 100% !important;
  }
  .d__product__list {
    flex-direction: column-reverse;
    width: 100%;
    height: 100% !important;
  }
  .d__product__column__list {
    width: 100% !important;
    height: 100%;
  }
  .d__product__item {
    width: 100%;
    margin-top: 15px;
  }
  .d__product__item:not(:last-child) {
    margin-right: 15px;
  }
  .d__product__column__list .slick-track {
    display: flex;
    flex-direction: row;
    width: 100% !important;
    height: 100% !important;
  }
  .d__product__details__container {
    width: 100%;
    margin: 0;
  }
  .ingredients__icon__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .ingredients__details {
    flex-direction: column;
    margin: 0;
  }
  .ingredients__description__container {
    width: 100%;
  }
  .ingredients__img__container {
    display: none;
  }
  .results__row {
    flex-direction: column;
    padding: 4rem 4%;
    padding-right: 0;
  }
  .results__text {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .results__img__container {
    width: 100%;
  }
  .results__arrow {
    padding-right: 4%;
  }
}

@media (max-width: 768px) {
  .nav__item a{
    color: white;
  }
  .breadcrumb {
    display: none;
  }
  .d__product__container__row {
    display: flex;
    flex-direction: column !important;
    width: 100% !important;
  }
  .d__product__column__list {
    display: none !important;
  }
  .d__product__selected__container {
    width: 100% !important;
    height: 100%;
    position: relative;
  }
  .d__product__selected img {
    height: 50rem;
    width: 100%;
    object-fit: unset;
  }
  .d__product__list {
    width: 100%;
  }
  .d__product__dots {
    height: 0;
  }
  .d__product__dots .d__prev__card {
    position: absolute;
    bottom: 10%;
    left: 27%;
    cursor: pointer;
  }
  .d__product__dots .d__next__card {
    position: absolute;
    bottom: 10%;
    left: 68%;
    cursor: pointer;
  }
  .slick-dots li {
    display: block;
  }
  .slick-dotted .slick-dots {
    position: absolute !important;
    bottom: 3% !important;
    height: 20px;
    display: flex !important;
    justify-content: center;
    align-items: center !important;
  }
  .slick-dots li {
    height: 10px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .slick-dots li button:before {
    position: absolute !important;
    border: 1px solid white;
    border-radius: 50%;
    width: 8px !important;
    height: 8px !important;
    content: "" !important;
    opacity: 1 !important;
  }
  .slick-dots li.slick-active button::before {
    background-color: white !important;
  }
  .d__product__details__container {
    width: 100%;
    margin: 0;
  }
  .d__product__number {
    flex-direction: column;
    width: 100%;
    height: 11rem;
    margin: 25px 0 14px 0;
  }
  .d__product__incrementor {
    width: 100%;
    border-right: 1px solid #b7b7b7;
    justify-content: space-between;
    padding: 0 20px;
    height: 5.5rem;
  }
  .d__product__btn {
    width: 100%;
    height: 5.5rem;
  }
  .ingredients {
    margin: 0 4%;
    border-bottom: none;
  }
  .ingredients__title {
    font-size: 24px;
  }
  .ingredients__icon__container {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .ingredients__description__container {
    align-items: flex-start;
  }
  .ingredients__paragraph {
    width: 100%;
    text-align: start;
  }
  .ingredients__link__container {
    margin-top: 4rem;
    padding-bottom: 30px;
  }
  .ingredients__icon {
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #42210b;
  }
  .ingredients__icon:first-child {
    border-top: 1px solid #42210b;
  }
  .ingrediants__accordion {
    flex-direction: row;
    width: fit-content;
    height: 8rem;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
  .ingrediants__accordion img {
    margin-right: 8px;
  }
  .accordion__arrow__down {
    display: block;
    cursor: pointer;
  }
  .results__row {
    flex-direction: column;
    padding: 4rem 4%;
    padding-right: 0;
  }
  .results__text {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .results__img__container {
    width: 100%;
  }
  .results__text h1 {
    font-size: 24px;
    margin-bottom: 26px;
  }
  .results__text h3 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .results__arrow {
    padding-right: 4%;
  }
  .position__in-mobile {
    display: flex;
    flex-direction: column;
  }
  .products__carousel {
    order: -1;
  }
  .products__row {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5rem;
  }
  .products__arrow {
    display: none;
  }
  .product {
    width: 80vw;
    height: 40rem;
  }
  .products__title {
    font-size: 2.4rem;
  }
  .horyzontal-line__product {
    top: 35rem;
  }
  .product__link--add-to-cart {
    top: 36rem;
  }
  .product__text {
    width: 80vw;
  }
}

@media (max-width: 592px) {
  .d__product__dots .d__prev__card {
    left: 15%;
  }
  .d__product__dots .d__next__card {
    left: 80%;
  }
}
@media (max-width: 450px) {
  .d__product__dots .d__prev__card {
    left: 4%;
  }
  .d__product__dots .d__next__card {
    left: 87%;
  }
  .results__img__parent {
    width: 25rem;
  }
  .results__img {
    width: 100%;
    object-fit: cover;
  }
  .results__text h1 {
    width: 70%;
  }
  .results__arrow {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
}
