@import url(./base.css);
@import url(./footer.css);
@import url(./navigation.css);

header {
  background: url(../assets/images/plp_bg.png) no-repeat center center / cover;
  width: 100%;
  height: 100vh;
}
.header__container {
  position: relative;
  top: 45%;
  left: 4%;
}
.header__title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 2rem;
}
.header__text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  width: 50rem;
}
@media(max-width: 992px) {
  header {
    height: 70vh;
  }
  .header__container {
    top: 50%;
  }
}
@media(max-width: 768px) {
  header {
    height: 90vh;
  }
  .header__container {
    top: 60%;
  }
  .header__title {
    font-size: 32px;
    margin-bottom: 1.3rem;
  }
  .header__text {
    width: 70%;
  }
}
.products__container {
  margin: 0 4%;
  border: 2px solid blue;
}
.breadcrumb{
  margin-top: 1.6rem;
  margin-bottom: 4.2rem;
}
.breadcrumb__link--light {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #555555;
  opacity: 0.5;
  text-decoration: none;
}
.breadcrumb__link--dark {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #222222;
  text-decoration: none;
}
.products__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem 2.4rem ;
}
.product {
  background-color: #7373d7;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.product__img {
  height: 100%;
  object-fit: cover;
}
.horyzontal-line__product {
  border-top: 1px solid #ffffff;
  position: absolute;
  top: 49rem;
  width: 90%;
}
.product__link--add-to-cart {
  position: absolute;
  top: 50rem;
}
.product__link--add-to-cart a {
  font-family: "Rubik";
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
.product__text,
.product__price {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 16px;
  color: #222222;
  margin: 8px 0;
}
.product__price del {
  color: #7a7979;
  margin-left: 8px;
}
.pppp {
  background: url(../assets/images/product__img-bg.png) no-repeat;
  width: 100%;
  background-size: cover;
  grid-column: 1 / 3;
}
